
:root{
    --teal-heavy: #008B95;
    --teal-light: #6CA3B2;
    --teal-lightest: #99D1D5;
    --orange: #F2953C;
    --background-white: #f7f7f7;
    --font-white: #fff;
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Inconsolata', monospace;
}

// CSS reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.welcome-container{
    position: relative;
    background-color: var(--teal-light);
    height: 100vh;
    font-family: var(--secondary-font);
}

.greeting-container{
    position: relative;
    background-color: var(--background-white);
    transform: translateX(-50%);
    left: 50%;
    top: 10%;
    height: 30vh;
    width: 40vw;
    color: var(--teal-heavy);
}

// how to do "anything that starts with 'greeting-' " ?
h1, h2, h3, h4 {
    text-align: center;
}

.greeting-text{
    padding: 15px;
}